/* .sect-products{
  margin-bottom: 50px;
} */
.content-list {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 10px;
  justify-content: space-between;
}

.content-list > a {
  width: 100%;
}

.cgv-info-bold {
  color: black;
  font-weight: 700;
}

.card>a {
  height: 350px;
}

.action {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
}

.btn-style {
  display: flex;
  align-items: center;
  border: none;
  padding: 10px 15px;
  border-radius: 12px;
  gap: 10px;
  color: white;
}

p {
  margin: 0 !important;
}

.btn-like {
  border: 1px solid #1877f2;
}
.btn-like > p{
  color: #1877f2;
}
.btn-like > i{
  color: #1877f2 ;
}
.btn-like:hover{
  background-color: #1877f2;
}
.btn-like:hover p{
  color: white;
}
.btn-like:hover i{
  color: white;
}
.btn-buy {
  background-color: #e83731;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 220px;
}

.card-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  /* Số dòng tối đa */
  overflow: hidden;
  text-overflow: ellipsis;
  color: black !important;
  font-weight: bold !important;
}
.card-img{
  height: 350px;
}

@media (max-width:1200px){
  .content-list{
    grid-template-columns: auto auto auto;
  }
  .link-movie{
    width: 330px;
  }
}
@media (max-width:997px){
  .content-list{
    grid-template-columns: auto auto;
  }
}